#banner{
    height: 400px; 
    background-image: url(images/banner.jpg);
    background-size: cover; 
    background-position: top;    
}

.carousel-control-prev-icon{
    display: none;

}

.icone2{
    background-image: url(../images/arrow_back_ios.svg);
    display: block;
}